
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*
┏━━━━━━━━━━━━━━━━━━━━━━━━━┓
┃                         ┃
┃ * Start Second Header   ┃
┃                         ┃
┗━━━━━━━━━━━━━━━━━━━━━━━━━┛
*/
.header-2 {
  background-color: #FFD333;
  position: relative;
}

.navbars {
  display: flex;
  flex-wrap: wrap;
}

.navbars a {
  color: black;
  text-decoration: none;
  text-align: center;
  padding: 15px 0 15px 3.3rem;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  display: none;
  padding: 10px;
  z-index: 11;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  
    border-radius: 5px;
}

.navbars a:hover .dropdown {
  display: block;
  display: flex;
  height: auto;
  /* justify-content: space-between; */
}

.dropdown-item {
  padding: 5px 0;
}

/* Grid Layout */
.dropdown-grid {

  /* gap: 10px; */
  margin-bottom: 10px;
}
.dropdown-grid:first-child {
  /* flex: 1; */
  width: 20%;
}
.dropdown-grid:last-child {
  width: 30%;
  padding: 40px 0px 0 0;
}
.dropdown-grid:nth-child(2) {
  /* flex: 2; */
  width: 50%;
  padding: 0 !important;
  
}
.best-restaurant {
  text-align: right;
}
.best-restaurant .dropdown-grid  {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.best-restaurant .dropdown-grid .dropdown-grid-item {
  width: calc(33.33% - 10px);
} 
.dropdown-grid-item img {
  width: 100%;
}
.dropdown-grid-item {
      padding: 10px;
      text-align: right;
      font-size: 20px;
}

/* .dropdown-grid-item img {
  width: 100%;
  max-width: 100%;
  height: auto;
} */

@media screen and (min-width: 992px) and (max-width: 1220px) {
  .navbars a {
    padding: 20px 0 20px 1.9rem;
  }
}

@media screen and (max-width: 992px) {
  .header-2 {
    display: none;
  }
  .header-2-alter {
    display: block !important;
  }
}

.nav-of-search {
  padding: 40px 30px;
}
.nav-of-search .breadcrumb a {
  font-size: 17px;
    color: #000;
    padding: 5px;
}

/* .header-2 {
  background-color: #FFD333;
}
.navbars {
  display: flex;
  flex-wrap: wrap;
}

.navbars a {
  color: black;
  text-decoration: none;
  text-align: center;
  padding:20px 0 20px 3.3rem;

}
@media screen and (min-width: 992px) and (max-width: 1220px) {
  .navbars a{
    padding: 20px 0 20px 1.9rem;
  }
}
@media screen and (max-width: 992px) {
  .header-2 {
    display: none;
  }
  .header-2-alter {
    display: block !important;
  }
}
.header-2 {
  background-color: #FFD333;
  position: relative;
}

.navbars {
  display: flex;
  flex-wrap: wrap;
}

.navbars a {
  color: black;
  text-decoration: none;
  text-align: center;
  padding: 20px 0 20px 3.3rem;
}

.header-2 .dropdown {
  position: absolute;
  top: 64px;
  left: 0;
  width: 100%;
  background-color: #fff;
  display: none;
  padding: 10px;
  z-index: 3;
}

.navbars a:hover .dropdown {
  display: block;
}

.dropdown-item {
  padding: 5px 0;
}

@media screen and (min-width: 992px) and (max-width: 1220px) {
  .navbars a {
    padding: 20px 0 20px 1.9rem;
  }
}

@media screen and (max-width: 992px) {
  .header-2 {
    display: none;
  }
  .header-2-alter {
    display: block !important;
  }
} */
/* Alternate header 2 */
.header-2-alter {
  display: none;
}
.navs {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  /* height: 55px; */
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  display: flex;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  margin: 0px;
  border-radius: 20px 20px 0px 0px;
  padding: 30px 0px 15px;
  /* box-shadow: 3px 8px 10px 5px gray; */
  list-style: none;
  z-index: 13;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-width: 50px;
  overflow: hidden;
  white-space: nowrap;
  font-family: sans-serif;
  font-size: 15px;
  color: #444444;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.1s ease-in-out;
  color:#FFD333 ;
}
.nav__text {
  color: #000;
}
.nav__link:hover {
  /* background-color: #eeeeee; */
  height: 100%;
}

.nav__link--active {
  color: #FFD333;
}

.nav__icon {
  font-size: 24px;
}

.dropdowns {
  position: relative;
  cursor: pointer;
}

.dropdown-menus {
  display: none;
  position: fixed;
  left: 0;
  bottom: 70px;
  z-index: 12;
  width: 100%;
  background-color: #ffffff;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;

}

.dropdown-menus a {
  display: block;
  padding: 10px;
  text-align: center;
  color: #444444;
  font-size: 14px;
  text-decoration: none;
}

.dropdown-menus a:hover {
  background-color: #eeeeee;
}

.dropdowns.show .dropdown-menus {
  display: block;
}
.nav__link.dropdowns {
  position: relative;
}

.dropdown-menus {
  display: none;
    /* position: absolute; */
    /* top: 275px; */
    z-index: 12;
    /* width: 98%; */
    background-color: #fff;
    padding: 10px 10px 30px 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px 5px 0 0px;
}
.dropdown-menus.show {
  display: block;
}
.dropdown-menus a {
  display: block;
  padding: 10px;
  text-align: center;
  color: #444444;
  font-size: 14px;
  text-decoration: none;
}

.dropdown-menus a:hover {
  background-color: #eeeeee;
}

.nav__link.dropdown:hover .dropdown-menus {
  display: block;
}
.dropdown-menus ion-icon.md.hydrated {
  background: red;
  color: white;
  border-radius: 15px;
  font-size: 20px;
  cursor:pointer;
} 

.body.active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

body.no-scroll {
  overflow: hidden;
}
/*
┏━━━━━━━━━━━━━━━━━━━━━━━━━┓
┃                         ┃
┃ * End Second Header     ┃
┃                         ┃
┗━━━━━━━━━━━━━━━━━━━━━━━━━┛
*/
/*
┏━━━━━━━━━━━━━━━━━━━━━━━━━┓
┃                         ┃
┃ * Start Section Hero    ┃
┃                         ┃
┗━━━━━━━━━━━━━━━━━━━━━━━━━┛
*/

body{
  margin: 0;
  overflow:unset;
}

body::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}
.carousel-container {
  /* border-radius: 30px; */
  overflow: hidden;
  max-width: 950px;
  position: relative;
  /* box-shadow: 0 0 30px -20px #223344; */
  /* margin: auto; */
  z-index: 0;
}
.body-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 10;
  display: none;
}

body.show-menu .body-overlay {
  display: block;
}


html, body {
  position: relative;
  /* height: 100%; */
  /* overflow: hidden; */
}

.swiper-container-h {
  width: 100%;
  /* height: 100vh; */
  overflow-x: hidden;
  position: relative;
}
.swiper-pagination-h {
position: absolute !important;
}
.swiper-container-h .swiper-pagination-bullet {
  width: 15px;
  height: 15px; 
}
.swiper-container-h .swiper-pagination-bullet-active {
  background-color: #FFD333;
}
/* .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
} */
.swiper-slide img {
  height: auto;
  width: 100%;
}
/*
┏━━━━━━━━━━━━━━━━━━━━━━━━━┓
┃                         ┃
┃ * End Section Hero      ┃
┃                         ┃
┗━━━━━━━━━━━━━━━━━━━━━━━━━┛
*/
/*
┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
┃                              ┃
┃ * Start Section Categories   ┃
┃                              ┃
┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
*/
.category-section {
  text-align: center;
  padding: 40px;
}

.category-section-title {
  font-size: 24px;
  margin-bottom: 20px;
}
.category-slider {
  width: 100%;
  overflow: hidden;
}
.category-grid {
  display: flex;
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fit, minmax(140px, 1fr)); */
  /* gap: 20px; */
  
}
@media screen and (max-width:992px) {
  .category-grid {
    gap:0px ;
    
  }
}
.category-item {
  flex-shrink: 0;
  width: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.category-image {
  background: antiquewhite;
  padding: 20px;
  border-radius: 50%;
}
.category-item img {
  width: 110px;
    height: auto;
    max-width: 60px;
    max-height: 100%;
    object-fit: contain;
}

.category-item h3 {
  margin-top: 10px;
  font-size: 16px;
}





/*
┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
┃                              ┃
┃ * End Section Categories     ┃
┃                              ┃
┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
*/
/*
┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
┃                              ┃
┃ * Start Section Product      ┃
┃                              ┃
┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
*/
.product-section {
  /* max-width: 1200px; */
  /* margin: 0 auto; */
  padding: 20px;
}
.product-slider-g {
  width: 100%;
  overflow: hidden;
}
.section-title {
  font-size: 24px;
  margin-bottom: 20px;
}
.product-grid {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  gap: 12px;
  padding: 10px 0 20px 0;
}
.product-item {
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  flex: 1;
  max-width: calc(100%/6 - 12px);
  border: 1px solid #F5F6F6;
  padding: 0px 0 20px 0px;
}

.product-slider {
  max-width: 400px;
}

.product-detail {
  margin-top: 10px;
  font-size: 18px;
}
.splide__pagination {
  display: block !important;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.splide__pagination__page {
  background-color: gray;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
}
.splide__pagination__page.is-active {
  background: #000;
}


.product-section {
  text-align: center;
  padding: 20px;
}
.product-slider-g {
  width: 100%;
  overflow: hidden;
}
.section-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  gap: 12px;
  padding: 10px 0 20px 0;
}

.product-item {
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  flex: 1;
  max-width: calc(100%/5 - 12px);
  border: 1px solid #F5F6F6;
  padding: 0px 0 20px 0px;
}
.product-slider {
  position: relative;
  z-index: 1;
}
.product-slider .half-sales {
  position: absolute;
  right: 4%;
  top: 2%;
  background: red;
  color: #fff;
  padding: 10px 15px;
  z-index: 2;
  border-radius: 50%;
  transform: rotate(-12deg);
}
.product-detail {
  text-align: right;
  padding-right: 5px;
}
.product-detail h4 {
  font-weight: 400;
}
@media screen and (max-width: 1299px) {
  .product-item {
    max-width: calc(100% / 4 - 20px);
  }
  .product-section {
    width: 100%;
  }
  .filter-sidebar {
    width: 30%;
  }
}

@media screen and (max-width: 991px) {
  .product-item {
    max-width: calc(33.33% - 12px);
  }
}

@media screen and (max-width: 767px) {
  .product-item {
    max-width: calc(50% - 12px);
  }
}
@media only screen and (max-width: 480px) {
  .product-item {
    max-width: 100%;
  }
}
.product-section {
  text-align: center;
  padding: 15px;
}

.section-title {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: right;
    padding: 2px 10px;
}

.container-swiper {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  background: #F5F5F5;
  padding: 20px 0px;
}
.swiper-slide {
  display: flex;
  /* flex-direction: column; */
  align-items: center;

  /* background: gainsboro;
  padding: 20px 0px; */
  gap: 1%;
}
.swiper-img {
  justify-content: center;
}
.swiper-img  img {
  width: 75%;
}
.product-card {
  background-color: #FFF;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.product-image img {
  width: 100%;
  max-width: 300px;
  height: auto;
}
.swiper-pagination {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: #999;
  opacity: 0.7;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background-color: #000;
}

.product-card h3 {
  font-size: 16px;
  margin-top: 10px;
}

.product-price {
  font-weight: bold;
}

.product-discount {
  display: flex;
    justify-content: start;
    gap: 20px;
}
.product-discount span:first-child {
  text-decoration: line-through;
}
.product-discount span:last-child {
  color :green;
}
.product-store {
  margin: 12px 0;
  color: rgb(76, 163, 249);
  display: flex;
    gap: 20%;
    align-items: end;
}
span.store-rating-text {
  font-size: 12px;
  display: flex;
  align-items: flex-end;
  gap: 8px;
  color: #000;
}
span.rating {
  display: flex;
  align-items: baseline;
  color: #FFD333;
}


.add-to-cart-btn {
  margin-top: 20px;
    background-color: #FFD333;
    color: #555;
    padding: 5px 5px;
    border: none;
    border-radius: 1px;
    font-size: 18px;
    cursor: pointer;
    font-weight: 500;
    width: 97%;

}


/*  */


/*
┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
┃                              ┃
┃ * End Section Product        ┃
┃                              ┃
┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
*/
/*
┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
┃                              ┃
┃ * Start Sections ads         ┃
┃                              ┃
┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
*/
.ads  {
padding: 10px 20px;
}
.ads-title {
  padding: 18px 0;
}
.ads-title h2{
  color: #3D464D;
text-align: right;
font-family: Tajawal;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.ads .image-container {
  display: flex;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  justify-content: space-between;
  flex-wrap: wrap;
}
.ads-container .owl-nav {
  position: absolute;
  padding: 10px;
  display: flex;
  gap: 5px;
  top: 0;
  
}
.ads-container .owl-nav .owl-prev {
  font-size: 22px !important;
  background: #000 !important;
  color: #fff !important;
  border-radius: 10px;
}
.ads-container .owl-nav .owl-next {
  font-size: 22px !important;
  background: #000 !important;
  color: #fff !important;
  border-radius: 10px;
}
.ads-container .owl-nav .owl-prev {
  padding: 10px !important;
}
.ads .image-container img {
  flex: 1;
  max-width: 100%;
  margin-right: 10px;
}

.ads.image-container img:last-child {
  margin-right: 0;
}

/* Additional Styles */
.single-image-container {
  flex: 1;
  max-width: 100%;
}

.double-image-container {
  flex: 1;
  max-width: calc(50% - 10px);
}

.triple-image-container {
  flex: 1;
  max-width: calc(33.33% - 10px);
}
.ad-container {
  padding: 30px 0;
}
/* .image-container {
  display: flex;
  justify-content: space-between;
  gap: 20px; 
  padding: 0 15px;
  margin: 12px 0;
}

.image-container .first-ads {
  flex-shrink: 0; 
  width: calc(50% - 10px); 
  height: auto;
}

@media (max-width: 768px) {
  .image-container {
    flex-wrap: wrap; 
  }

  .image-container .first-ads {
    width: 100%; 
    margin-bottom: 20px; 
  }
}
.ad-container {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  margin: 20px 0;
}

.ad-image {
  max-width: 100%;
  height: auto;
}


.image-container {
  display: flex;
  justify-content: space-between;
  gap: 20px; 
  padding: 0 15px;
}

.image-container .third-ads-1 {
  flex-shrink: 0; 
  width: calc(40% - 10px); 
  height: auto;
}
.image-container .third-ads-2 {
  flex-shrink: 0; 
  width: calc(60% - 10px); 
  height: auto;
}
@media (max-width: 768px) {
  .image-container {
    flex-wrap: wrap;
  }

  .image-container .third-ads-1 {
    width: 100%; 
    margin-bottom: 20px; 
  }
  .image-container .third-ads-2 {
    width: 100%; 
    margin-bottom: 20px; 
  }
} */




/*
┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
┃                              ┃
┃ * End Sections ads           ┃
┃                              ┃
┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
*/
/*
┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
┃                              ┃
┃ * Start Section product types┃
┃                              ┃
┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
*/
.product-type-section {
  padding:0 15px;
}
.section-type-title {
  font-weight: 400;
}
@media screen and (max-width:768px) {
  .section-type-title {
    font-weight: 400;
    text-align: center;
    padding: 25px 0;
    background: darkgrey;
    color: #fff;
    border-radius: 20px;
    margin-bottom: 40px;
  }
}
.product-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product {
  width: calc(100%/7 - 10px);
  margin-bottom: 10px;
  border: 1px solid #F5F6F6;
  text-align: center;
}
@media screen and (max-width:1200px) {
  
}
.product-image {
    height: 140px;


}

.product-title {
  padding:15px 0;
  background-color: #f3f4f1;
  font-size: 22px;
  font-weight: bold;
}

.product-image-wrap {
  padding: 20px 20px;
  background: rgb(170,173,175);
background: linear-gradient(90deg, rgba(170,173,175,1) 35%, rgba(159,159,159,1) 72%, rgba(152,147,147,1) 100%);

display: flex;
justify-content: center;
}
.product-img-wrapper {
  overflow: hidden;
}
.product-image-wrap:hover {
  transform: scale(1.25);
  transition: all 0.7s;
}
@media screen and (max-width: 992px) {
  .product {
    width: calc(33.33% - 20px);
  }
}

@media screen and (max-width: 768px) {
  .product {
    width: calc(40% - 20px);
  }
  .product-image {
    width: 200px;
    height: 250px;
    margin: auto;
  
  }
  .product-type-section {
    padding:0 10px;
  }
  .product-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 25px;
  }
}

@media screen and (max-width: 480px) {
  .product {
    width: 52%;
  }
}
.splide__slide img {
    margin: auto;
}
/*
┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
┃                              ┃
┃ * End Section product types  ┃
┃                              ┃
┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
*/
/*
┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
┃                              ┃
┃ * Start Section Contact      ┃
┃                              ┃
┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
*/
.contact-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding:15px 20px;
  background: #E5E5E5;
  align-items: center;
  margin-top: 60px;
}
@media screen and (max-width:768px) {
  .contact-section {
    justify-content:center;
    gap: 25px;
  }
}
.contact-section .contact-title h2{
  font-size: 29px;
}
.contact-section .contact-title p {
  font-size: 14px;
  font-weight: 600;
}
.contact-section .contact-ways {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.contact-section .contact-ways .telephone-way {
  display: flex;
  align-items: center;
  gap: 10px;
}
.contact-section .contact-ways .mail-way{
  display: flex;
  align-items: center;
  gap: 10px;
}
.contact-section .contact-ways ion-icon {
  background: #000;
  color: #fff;
  padding: 9px;
  border-radius: 50%;
}
.contact-section .contact-ways p {
  margin: 0;
  color: #939698;
}
/*
┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
┃                              ┃
┃ * End Section Contact        ┃
┃                              ┃
┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
*/
/*
┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
┃                              ┃
┃ * Start Footer               ┃
┃                              ┃
┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
*/

footer {
  background-color: #F5F6F6;
  padding: 10px;
  position: relative;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
.columns {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin: 50px 10px;
}
.column {
  /* flex: 1 1 auto;s */
  min-width: 0; /* Allow columns to shrink */
  padding: 10px;
  /* border: 1px solid #ddd; */
  /* background-color: #fff; */
}
.column ul {
  list-style: none;
}

.column ul li {
  margin-bottom: 8px; /* Adjust the value to control the spacing */
}
.column li a {
  color: #2B2B2B
  ;
}
.contact-social {
  flex-basis: 100%;
  text-align: right;
  position: absolute;
  bottom: 2%;
  left: 2%;
  padding: 10px;
}
.contact-social h4 {
  font-size: 21px;
  font-weight: 400;
}
@media (max-width: 1200px) {
  .contact-social {
    position: static;
  }
}
.social-media-icons {
  list-style: none;
  margin: 0;
  padding: 0;
}
.social-media-icons .md.hydrated {
  background: #000;
  color: #fff;
  padding: 6px;
  border-radius: 50%;
  /* font-size: 20px; */
}
.social-media-icons li {
  display: inline-block;
  margin-left: 10px; /* Adjust the spacing between icons */
}

.social-media-icons li:last-child {
  margin-right: 0;
}

.social-media-icons a {
  color: #333;
  font-size: 20px;
}

.social-media-icons a:hover {
  color: #000; /* Adjust the hover color */
}


/*
┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
┃                              ┃
┃ * End Footer                 ┃
┃                              ┃
┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
*/

/*
┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
┃                              ┃
┃ * Start Copyright            ┃
┃                              ┃
┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
*/
.separate-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 15px;
  background: #E5E5E5;
}

.left-side {
  text-align: left;
  list-style: none;
  padding: 0;
  margin: 0;
}

.left-side li {
  display: inline-block;

}

.left-side li:not(:last-child)::after {
  content: "";
  /* margin-left: 10px; */
  border-left: 1px solid #888;
  padding-left: 10px;
}

.left-side li a {
  text-decoration: none;
  color: #4d4949;
  font-size: 17px;
  font-weight: 300;
}
.right-side {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.payment-method {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 3px;
  padding:10px;
  margin-left: 10px;
  width: 70px;
    height: 40px;
}
.payment-method img {
  /* max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto; */
  width: 50px;
  height: auto;
}

@media (max-width: 992px) {
  .footer-container {
    /* flex-direction: column; */
  }
  
  .separate-content {
    padding-bottom: 125px;
  }
  .payment-method {
    margin-bottom: 10px;
  }

}
@media (max-width: 840px) {
  .left-side{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }
  .left-side li {
    margin-right: 10px;
}
}
@media (max-width: 1300px) {
  /* .copyright {
    height: 250px;
  } */
.separate-content {
    justify-content: center;
    align-items: baseline;
    gap: 20px;
    
}
.right-side {
  margin-top: 20px;
}
}

/*
┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
┃                              ┃
┃ * End Copyright              ┃
┃                              ┃
┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
*/

